{% extends "base.html" %}
{% block content %}
{% if articles %}
   {% for article in articles_page.object_list %}
{# First item #}
      {% if loop.first and not articles_page.has_previous() %}
<article>
   <header class="article-header">
      <h1 class="entry-title">
         <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      </h1>
      {% include 'includes/article_info_small.html' %}
   </header>
   {{ article.content }}
</article>
      {% endif %}
   {% endfor %}
{% endif %}

{% endblock content%}